<%= form_with(model: measure) do |form| %>
  <% if measure.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(measure.errors.count, "error") %> prohibited this measure from being saved:</h2>

      <ul>
        <% measure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :patient_id, style: "display: block" %>
    <%= form.text_field :patient_id %>
  </div>

  <div>
    <%= form.label :hr, style: "display: block" %>
    <%= form.number_field :hr %>
  </div>

  <div>
    <%= form.label :grades, style: "display: block" %>
    <%= form.text_field :grades %>
  </div>

  <div>
    <%= form.label :minutes, style: "display: block" %>
    <%= form.text_field :minutes %>
  </div>

  <div>
    <%= form.label :seconds, style: "display: block" %>
    <%= form.text_field :seconds %>
  </div>

  <div>
    <%= form.label :steps, style: "display: block" %>
    <%= form.number_field :steps %>
  </div>

  <div>
    <%= form.label :accelerometer_X, style: "display: block" %>
    <%= form.text_field :accelerometer_X %>
  </div>

  <div>
    <%= form.label :accelerometer_Y, style: "display: block" %>
    <%= form.text_field :accelerometer_Y %>
  </div>

  <div>
    <%= form.label :accelerometer_Z, style: "display: block" %>
    <%= form.text_field :accelerometer_Z %>
  </div>

  <div>
    <%= form.label :gyroscope_X, style: "display: block" %>
    <%= form.text_field :gyroscope_X %>
  </div>

  <div>
    <%= form.label :gyroscope_Y, style: "display: block" %>
    <%= form.text_field :gyroscope_Y %>
  </div>

  <div>
    <%= form.label :gyroscope_Z, style: "display: block" %>
    <%= form.text_field :gyroscope_Z %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
