<div id="<%= dom_id measure %>">
  <p>
    <strong>Patient:</strong>
    <%= measure.patient_id %>
  </p>

  <p>
    <strong>Hr:</strong>
    <%= measure.hr %>
  </p>

  <p>
    <strong>Grades:</strong>
    <%= measure.grades %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= measure.minutes %>
  </p>

  <p>
    <strong>Seconds:</strong>
    <%= measure.seconds %>
  </p>

  <p>
    <strong>Steps:</strong>
    <%= measure.steps %>
  </p>

  <p>
    <strong>Accelerometer x:</strong>
    <%= measure.accelerometer_X %>
  </p>

  <p>
    <strong>Accelerometer y:</strong>
    <%= measure.accelerometer_Y %>
  </p>

  <p>
    <strong>Accelerometer z:</strong>
    <%= measure.accelerometer_Z %>
  </p>

  <p>
    <strong>Gyroscope x:</strong>
    <%= measure.gyroscope_X %>
  </p>

  <p>
    <strong>Gyroscope y:</strong>
    <%= measure.gyroscope_Y %>
  </p>

  <p>
    <strong>Gyroscope z:</strong>
    <%= measure.gyroscope_Z %>
  </p>

</div>
