<h1>Editing patient</h1>

<%= render "form", patient: @patient %>

<br>

<h3>API Key</h3>
<%= form_with model: @patient, url: patient_private_api_keys_path do |f| %>
  <%= f.text_field :private_api_key, disabled: true %>
  <%= f.hidden_field :id unless @patient.id.nil? %>
  <%= f.submit "Generate New Key" %>
<% end %>

<div>
  <%= link_to "Show this patient", @patient %> |
  <%= link_to "Back to patients", patients_path %>
</div>
