<%= stylesheet_link_tag 'dashboard.css' %>

<header class="p-3 bg-dark sticky-top text-white flex-md-nowrap p-0 shadow">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <%= image_tag ("logos/dibujo.svg"), class: "bi me-2", width: 200%>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <% if current_page?(root_path) or current_page?(welcome_index_path) %>
          <li><a href="/" class="nav-link px-2 text-white">Inicio</a></li>
          <li><%= link_to "Panel de control", dashboard_path, class: "nav-link px-2 text-secondary" %></li>
        <% else %>
          <li><a href="/" class="nav-link px-2 text-secondary">Inicio</a></li>
          <li><%= link_to "Panel de control", dashboard_path, class: "nav-link px-2 text-white" %></li>
        <% end %>
      </ul>

      <div class="text-end">
        <% if rodauth.logged_in? %>
          <%= link_to "Salir", rodauth.logout_path, method: :post, class: "btn btn-warning"%>
        <% else %>
          <%= link_to "Entrar", rodauth.login_path, class:"btn btn-outline-light me-2" %>
          <%= link_to "Registrarse", rodauth.create_account_path, class:"btn btn-warning" %>
        <% end %>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-5">
        <ul class="nav flex-column">
          <li class="nav-item">
            <% if current_page?(root_path) or current_page?(dashboard_path) or current_page?(dashboard_index_path) %>
            <%= link_to dashboard_index_path, class: "nav-link active" do %>
                <span data-feather="home"></span>
                Panel de control
              <% end %>
            <% else %>
              <%= link_to dashboard_index_path, class: "nav-link" do %>
                  <span data-feather="home"></span>
                  Panel de control
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if current_page?(root_path) or current_page?(dashboard_path) or current_page?(dashboard_index_path) %>
              <%= link_to dashboard_create_patient_path, class: "nav-link" do %>
                <span data-feather="users"></span>
                Pacientes
              <% end %>
            <% else %>
              <%= link_to dashboard_create_patient_path, class: "nav-link active" do %>
                <span data-feather="users"></span>
                Pacientes
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Informes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Informes guardados</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Mes actual
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Último trimestre
            </a>
          </li>
        </ul>
      </div>
    </nav>
