<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Start d:</strong>
    <%= activity.start_d %>
  </p>

  <p>
    <strong>End d:</strong>
    <%= activity.end_d %>
  </p>

  <p>
    <strong>User:</strong>
    <%= activity.user_id %>
  </p>

</div>
